/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* and here's my own stylings */

/* html {
    font-size: clamp(10px, 1.2vw, 16px);
} */

body {
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    color: #FFFFFF;
}

#main-body {
    padding: 40px 100px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 30px;
    background-color: #030712;
}

#content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

h1 {
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-size: 18px;
    font-weight: 500;
}

h3 {
    font-size: 28px;
    font-weight: 900;
    color: #FB923C;
    padding-left: 10px;
}

h4 {
    font-size: 20px;
    font-weight: 600;
}

#sidebar {
    background-color: #111827;
    width: 27%;
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
    gap: 25px;
}

.profile {
    display: flex;
    padding: 0 10px;
    gap: 15px;
}

.profile>img {
    height: 36px;
    width: 36px;
    border-radius: 1000px;
}

.main-options {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.new-task {
    color: #FB923C;
    display: flex;
    padding: 10px 10px;
    gap: 10px;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}

.new-task>svg {
    height: 28px;
    width: 28px;
}

dialog {
    flex-direction: column;
    border-width: 0;
    border-radius: 30px;
    width: max(400px, 50%);
    font-size: 16px;
    gap: 15px;
    padding: 30px;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.projects {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 10px;
}

.my-projects {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
}

.main-option,
.project {
    display: flex;
    padding: 8px 10px;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    border-radius: 10px;
}

.main-option>svg,
.project>svg {
    height: 28px;
    width: 28px;
}

.main-option:hover,
.project:hover {
    background-color: rgba(154, 52, 18, 25%);
}

li {
    color: white;
}

/* My Tasks */
.day-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.day-header {
    font-size: 16px;
}

.task-container {
    display: flex;
    padding: 0 5px;
    gap: 10px;
    align-items: center;
}

.task-container>button {
    height: 20px;
    width: 20px;
    border-radius: 1000px;
    background-color: #030712;
}

.priority1 {
    border: 2px solid #F87171;
}

.priority1:hover {
    background-color: #F87171;
}

.priority2 {
    border: 2px solid #FB923C;
}

.priority2:hover {
    background-color: #FB923C;
}

.priority3 {
    border: 2px solid #60A5FA;
}

.priority3:hover {
    background-color: #60A5FA;
}

.priority4 {
    border: 2px solid #9CA3AF;
}

.priority4:hover {
    background-color: #9CA3AF;
}

.task-info {
    display: flex;
    flex-direction: column;
}

.task-info :first-child {
    font-size: 14px;
}

.task-info :nth-child(2) {
    font-size: 12px;
    font-weight: 200;
}

.divider {
    display: flex;
    background-color: #374151;
    height: 1px;
}